<span>
  <%= f.check_box :_destroy,
	     { :checked => f.object.persisted? },
	     '0', '1'
	%>
	<%= f.label :_destroy, "#{f.object.user_name} #{f.object.user_sure_name}" %>
	<%= f.hidden_field :user_id %>
</span>